body {
  padding-top: 20px;
}

.list-group-item span,
.select-list span {
  margin-left: 0.5em;
}

.list-group-item span.fixed-width-sm,
.select-list span.fixed-width-sm{
  width: 10em;
}

.selected {
  background-color: #f8f8f8;
}

:not(.selected) + .selected {
  border-top: 1px solid #e7e7e7;
}

.selected + :not(.selected) {
  border-top: 1px solid #e7e7e7;
}
