<template name="signup">
  <div class="signup">
    <form class="form-horizontal form-signup" role="form" method="post">
      <h2>Create new account</h2>

      <div class="form-group">
        <label for="signup-username" class="col-sm-3 control-label">Username</label>
        <div class="col-sm-9">
          <input type="text" id="signup-username" name="signup-username" class="form-control" placeholder="Username" required>
        </div>
      </div>

      <div class="form-group">
        <label for="signup-email" class="col-sm-3 control-label">Email</label>
        <div class="col-sm-9">
          <input type="email" id="signup-email" name="signup-email" class="form-control" placeholder="Email" required>
        </div>
      </div>

      <div class="form-group">
        <label for="signup-password" class="col-sm-3 control-label">Password</label>
        <div class="col-sm-9">
          <input type="password" id="signup-password" name="signup-password" class="form-control" placeholder="Password" required>
        </div>
      </div>

      <div class="form-group">
        <label for="signup-cleaning-time" class="col-sm-3 control-label">Weekly cleaning target (minutes)</label>
        <div class="col-sm-9">
          <input type="number" id="signup-cleaning-time" name="signup-cleaning-time" class="form-control" placeholder="Weekly cleaning target (minutes)" required>
        </div>
      </div>

      <div class="form-group">
        <label for="signup-week-start" class="col-sm-3 control-label">Week start</label>
        <div class="col-sm-9">
          <select id="signup-week-start" name="signup-week-start" class="form-control">
            <option>Sunday</option>
            <option>Monday</option>
            <option>Tuesday</option>
            <option>Wednesday</option>
            <option>Thursday</option>
            <option>Friday</option>
            <option>Saturday</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-2">
          <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        </div>
      </div>

    </form>
  </div>
</template>
