<template name="userNew">
  <form class="form-inline form-new-user" role="form">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">+</div>
        <label class="sr-only" for="new-user-email">New user email</label>
        <input type="email" class="form-control" id="new-user-email" name="new-user-email" placeholder="Enter new user email">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Send invitation</button>
  </form>
</template>
