<template name="login">
  <div class="login">
    <form class="form-login" role="form">
      <h2 class="form-login-heading">Please sign in</h2>
      <input type="text" id="login-username" name="login-username" class="form-control" placeholder="Username" required autofocus>
      <input type="password" id="login-password" name="login-password" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <div id="login-other-options">
        <a id="signup-link" class="pull-right">create account</a>
      </div>
    </form>
  </div>
</template>
